body{
    background: black;
    font-family:Arial, Helvetica, sans-serif;
    background-image:url(/bg.jpg);
    background-size:auto;
    background-position: fixed;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center heading{
    padding-top: 15px;
    font-size: 40px;
    font-weight: 800px;
    line-height:50px;
    color: white;
}
.center heading  b{
    color: red;
    font-weight: 1200px;
    font-size: 50px;
    font-family: sans-serif;
}

.form{
    width: 300px;
}
.form .form-element{
    position: relative;
}
.form .form-element input{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1 px solid black;
    box-sizing:  100px;
    border-radius: 50px;
    outline: none;
    text-indent: 10px;
}
.form .form-element .toggle-password{
    position:absolute;
    height: 40px;
    width: 40px;
    top: 2px;
    right: 5px;
    border-radius: 60%;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
}
.form .form-element .toggle-password.active i.fa-eye{
    display: none;
}
.form .form-element .toggle-password.active i.fa-eye-slash{
    display: inline-block;
}
.form .form-element .toggle-password i.fa-eye-slash{
    display: none;
}
.form .form-element .password-policies{
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 0px;
    height: 0px;
    background: white;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    opacity: 1;
    overflow: hidden;
    transition: height 300ms ease-in-out,
                opacity 300ms ease-in-out;
}
.form .form-element .password-policies.active{
    opacity: 1;
    padding: 10px;
    height: 200px;
}
.form .form-element .password-policies >div{
    margin: 15px 10px;
    font-weight: 600;
    color: #888;
}
.form .form-element .password-policies >div.active{
    color:green;
}